#map {
    display: none;
    height: 500px;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table{
    border: 2, hidden, black;
}

#formulario{
    margin-left: 500px;
}