body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#contenido {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


#formulario {
    width: 20%;
    background-color: rgb(181, 170, 170);
    padding: 20px;
    border-right: 2px solid black;
}

#enviar {
    background-color: aqua;
    margin-left: 70px;
}

#map {
    display: none;
    flex-grow: 1;
    width: 80%;
    height: 100vh;
}
